/* styles.css */

/* set default values start*/
html, body, div, h1, h2, h3, h4, h5, h6, p, ol, ul, li, a {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
}
/* set default values end */

h1 {
  font-family: Consolas;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}
h2 {
  font-family: Consolas;
  font-size: 26px;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
  width: 750px;
  margin: 0 auto 0 auto;
}
h2 strong {
  font-weight: 900;
}
h3 {
  font-family: Consolas;
  font-size: 28px;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #555555;
  margin: 20px 0 20px 0;
}
p {
  font-family: Consolas;
  font-size: 18px;
}
a {
  font-family: Consolas;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #495395;
  text-decoration: underline;
}
.header {
  background-color: #999999;
}
.tagline {
  background-color: #000000;
  padding: 20px 0 20px 0;
}
.projects, .badges, .skills {
  width: 750px;
  margin: 0 auto;
}
.projects ul, .badges ul, .skills ul {
  list-style-type: none;
}
.projects li, .badges li, .skills li {
  margin-bottom: 10px;
}
.badges img {
  float: left;
  padding-right: 10px;
}
.badges p {
  padding-top: 10px;
}
.skills {
  margin-bottom: 20px;
}
.skills li {
  font-family: Consolas;
  font-weight: bold;
  font-size: 14px;
  background: #333333;
  color: #eeeeee;
  display: inline;
  padding: 8px 8px 8px 8px;
  margin-right: 10px;
}
.footer {
  background-color: #999999;
  text-align: center;
  padding: 20px 0 20px 0;
}
